.animalsection {
    float: left;

    @media (max-width: 500px) {
        width: 100%;
    }

    @media (min-width: 500px) {
        width: 50%;
    }

    @media (min-width: 1000px) {
        width: 25%;
    }


}

.mineralssection {
    @media (max-width: 500px) {
        background-color: blueviolet;
    }

    @media (min-width: 500px) {
        background-color: beige;
    }

    @media (min-width: 1000px) {
        background-color: aqua;

    }
}

.vegetablessection {
    @media (max-width: 500px) {
        font-size: small;
        color: aqua;
    }

    @media (min-width: 500px) {
        font-size: medium;
        color: rgb(13, 17, 247);
    }

    @media (min-width: 1000px) {
        font-size: large;
        color: red;

    }
}